

/*banner*/
.ibanner{
    width: 996px;
    height: 450px;
}
.ibanner img{
    width: 996px;
    height: 450px;
    border: none;
}


/*movie*/
.movie{
    width: 100%;
    height: 420px;
    margin-top: 10px;
}
.tuihuo{
    width: 240px;
    height: 420px;
    display: block;
    float: left;
}
.tuihuo img{
    width: 240px;
    height: 420px;
    border: none;
}
video{
    width: 745px;
    height: 420px;
    float: right;
    border: none;
}